# CityBikes

#### Send a request to CityBikes for the city of your choice.

In [1]:
import requests

request = requests.get('http://api.citybik.es/v2/networks/bicincitta-siena')
bikes = request.json()

#### Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [7]:
latitude = []
longitude = []
number_of_bikes = []
station_name = []

for station in bikes['network']['stations']: # looping through stations to grab details
    latitude.append(station['latitude'])
    longitude.append(station['longitude'])
    station_name.append(station['name'][4:]) # removing number in front of name
    bikes_sum = station['empty_slots'] + station['free_bikes']
    number_of_bikes.append(bikes_sum)

bike_stations = {
                 'latitude' : latitude,
                 'longitude' : longitude,
                 'number_of_bikes' : number_of_bikes,
                 'station_name' : station_name
                }

#### Put your parsed results into a DataFrame.

In [8]:
import pandas as pd

bike_stations = pd.DataFrame(bike_stations)

bike_stations.head()

    latitude  longitude  number_of_bikes station_name
0  43.321600  11.327948               16    Curtatone
1  43.314554  11.331021               10  S. Agostino
2  43.316539  11.337212                7  S. Girolamo
3  43.320523  11.323225               10     Fortezza
4  43.328983  11.321913               10    Antiporto

#### Turn DataFrame into CSV file

In [4]:
bike_stations.to_csv('bike_stations.csv', index=False)